# Core
numpy==1.26.4
pandas==2.2.2

# NetCDF + scientific
xarray==2024.3.0
netCDF4==1.7.1
scipy==1.13.1
gsw==3.6.20   # Scientific depth calculations

# Visualization
matplotlib==3.9.0
seaborn==0.13.2
cartopy==0.23.0

# Jupyter
jupyterlab==4.2.1
notebook==7.2.1

# Utilities
tqdm==4.66.4
joblib==1.5.2
python-dotenv==1.0.1
pathlib==1.0.1
hashlib
ftplib
concurrent.futures
os