# Core
numpy==1.26.4
pandas==2.2.2
pyarrow==21.0.0
sqlalchemy
psycopg2-binary

# NetCDF + scientific
xarray==2024.3.0
scipy==1.16.0
gsw==3.6.20   # Scientific depth calculations

# Visualization
matplotlib==3.9.0
seaborn==0.13.2
cartopy==0.23.0

# Jupyter
jupyterlab==4.2.1
notebook==7.2.1

# Utilities
tqdm==4.66.4
joblib==1.5.2
python-dotenv==1.0.1
pathlib==1.0.1

# Chroma
chromadb
sentence-transformers
